In [52]:
#Imports
import pandas as pd

In [53]:
#Lecture du fichier csv brut
df = pd.read_csv("https://drive.switch.ch/index.php/s/CqLVP8sXoLSxvYz/download")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (43,61,62) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [54]:
#Nbre de lignes/colonnes
df.shape

(20864, 106)

In [55]:
#Aperçu
df.head()

      id  ... reviews_per_month
0  21974  ...              0.05
1  23197  ...              0.46
2  34241  ...              0.07
3  34981  ...              1.26
4  35379  ...              3.01

[5 rows x 106 columns]

In [56]:
#Nombre d'annonces selon le nombre minimum de nuits
df["minimum_minimum_nights"].value_counts().head(20)

1      6489
2      4892
3      3149
32     2324
30     1058
31      846
4       666
5       429
7       218
60       94
6        85
90       82
15       66
33       54
28       51
10       48
20       34
35       32
14       26
180      23
Name: minimum_minimum_nights, dtype: int64

In [57]:
#Suppression des annonces avec un minimum exigé de plus de 7 nuits
df = df[df["minimum_minimum_nights"] <= 7]

In [58]:
#Sélection des dimensions d'intérêt
df_subset = df[["id", "neighbourhood_cleansed", "room_type", "accommodates", "guests_included", "price", "cleaning_fee"]]

In [59]:
#Renommage des colonnes
df_final = df_subset.rename(columns = {"neighbourhood_cleansed" : "quartier", "room_type" : "type_chambre", "accommodates" : "occupation_max", "guests_included" : "hotes_incluses", "price" : "prix", "cleaning_fee" : "frais_nettoyage"})

In [60]:
#Supression du caractère "$" dans les indications de prix
df_final["prix"] = df_final["prix"].str[1:]
df_final["frais_nettoyage"] = df_final["frais_nettoyage"].str[1:]

In [61]:
#Aperçu
df_final.head()

      id                         quartier  ...    prix  frais_nettoyage
0  21974                   el Barri Gòtic  ...   80.00            20.00
1  23197            el Besòs i el Maresme  ...  220.00            80.00
2  34241                   el Barri Gòtic  ...  100.00            40.00
3  34981                   el Barri Gòtic  ...  227.00            67.00
4  35379  l'Antiga Esquerra de l'Eixample  ...   40.00             6.00

[5 rows x 7 columns]

In [62]:
#Suppression du caractères "," dans ées indications de prix
df_final["prix"] = df_final["prix"].str.replace(',', '')
df_final["frais_nettoyage"] = df_final["frais_nettoyage"].str.replace(',', '')

In [63]:
#Conversion des prix en float
df_final["prix"] = pd.to_numeric(df_final["prix"]).astype(float)
df_final["frais_nettoyage"] = pd.to_numeric(df_final["frais_nettoyage"]).astype(float)

In [64]:
#Calcul du prix total (prix indiqué + frais de ménage)
df_final["prix_total_pp"] = (df_final["prix"] + df_final["frais_nettoyage"]) / df_final["hotes_incluses"]

In [65]:
#Affichage du tableau trié selon le prix total
df_final.sort_values(by = ["prix_total_pp"], ascending=False).head()

             id  ... prix_total_pp
10848  27802058  ...        6000.0
10852  27802471  ...        6000.0
10847  27802009  ...        6000.0
10885  27916731  ...        6000.0
10905  27951003  ...        6000.0

[5 rows x 8 columns]

In [66]:
#Aperçu du nombre de valeurs NaN par colonne
df_final.isna().sum()

id                    0
quartier              0
type_chambre          0
occupation_max        0
hotes_incluses        0
prix                  0
frais_nettoyage    3466
prix_total_pp      3466
dtype: int64

In [67]:
#Suppression des entrées pour lesquells les frais de nettoyage ne sont pas renseignées
df_final = df_final.dropna(subset = ["frais_nettoyage"])

In [68]:
#Calcul du prix moyen par quartier
df_final["prix_moyen"] = df_final.groupby("quartier")["prix_total_pp"].transform("mean")

In [69]:
#Calcul du prix minimum par quartier
df_final["prix_min"] = df_final.groupby("quartier")["prix_total_pp"].transform("min")

In [70]:
#Calcul du prix maximum par quartier
df_final["prix_max"] = df_final.groupby("quartier")["prix_total_pp"].transform("max")

In [71]:
#Calcul du prix médian par quartier
df_final["prix_med"] = df_final.groupby("quartier")["prix_total_pp"].transform("median")

In [72]:
#Calcul du nombre d'annonces par quartier
df_final["nb_annonces"] = df_final.groupby("quartier")["prix_total_pp"].transform("count")

In [73]:
#Calcul du nombre d'annonces selon le type de logement par quartier
types_compteur = df_final.groupby(["quartier", "type_chambre"])["id"].count()

In [74]:
#Affichage de la variable ci-dessus
types_compteur

quartier         type_chambre
Baró de Viver    Entire home/apt     1
Can Baró         Entire home/apt    16
                 Private room        9
Canyelles        Entire home/apt     1
                 Private room        1
                                    ..
les Roquetes     Entire home/apt     1
                 Private room       13
                 Shared room         1
les Tres Torres  Entire home/apt    14
                 Private room        8
Name: id, Length: 182, dtype: int64

In [75]:
#Insertion de colonnes et initialisation à 0
df_final["nb_log_entier"] = 0
df_final["nb_chambre_privee"] = 0
df_final["nb_chambre_hotel"] = 0
df_final["nb_chambre_ptg"] = 0

In [76]:
#Création de la liste des quartiers
liste_quartiers = df_final["quartier"].unique()

In [77]:
#Pour chacun des quartier,, mise à jour du nombre de logement par type (chambre partagée, privée, ...)
for quartier in liste_quartiers :
  try :
    df_final.loc[df_final.quartier == quartier, "nb_log_entier"] = types_compteur[quartier]["Entire home/apt"]
  except :
    #Cas où il n'existe pas d'annonce correspondant au type de logement pour ce quartier
    pass
  
  try :
    df_final.loc[df_final.quartier == quartier, "nb_chambre_privee"] = types_compteur[quartier]["Private room"]
  except :
    #Cas où il n'existe pas d'annonce correspondant au type de logement pour ce quartier
    pass
  
  try :
    df_final.loc[df_final.quartier == quartier, "nb_chambre_hotel"] = types_compteur[quartier]["Hotel room"]
  except :
    #Cas où il n'existe pas d'annonce correspondant au type de logement pour ce quartier
    pass
  
  try :
    df_final.loc[df_final.quartier == quartier, "nb_chambre_ptg"] = types_compteur[quartier]["Shared room"]
  except :
    #Cas où il n'existe pas d'annonce correspondant au type de logement pour ce quartier
    pass

In [78]:
#Calcul de la capacité maximal moyenne par quartier
df_final["occup_max_moy"] = df_final.groupby("quartier")["occupation_max"].transform("mean")

In [79]:
#Aperçu
df_final.head()

      id                         quartier  ... nb_chambre_ptg  occup_max_moy
0  21974                   el Barri Gòtic  ...              1       3.123522
1  23197            el Besòs i el Maresme  ...              0       3.218750
2  34241                   el Barri Gòtic  ...              1       3.123522
3  34981                   el Barri Gòtic  ...              1       3.123522
4  35379  l'Antiga Esquerra de l'Eixample  ...              9       4.037234

[5 rows x 18 columns]

In [80]:
#Nbre de lignes/colonnes du fichier final.
df_final.shape

(12462, 18)

In [81]:
#Sélection des colonnes à conserver, suppression des doublons pour obtenir les données par quartier
df_export = df_final[["quartier", "prix_moyen", "prix_min", "prix_max", "prix_med", "nb_annonces", "nb_log_entier", "nb_chambre_privee", "nb_chambre_hotel", "nb_chambre_ptg", "occup_max_moy"]].drop_duplicates().sort_values(by = ["quartier"], ignore_index = True)

In [82]:
#Conversion de la première lettre du nom du quartier en majuscule
df_export["quartier"] = df_export["quartier"].apply(lambda x : x[0].upper() +  x[1:])

In [83]:
#Sélection des quartiers pour lesquelles au moins 100 annonces existent
df_export = df_export[df_export["nb_annonces"] >= 100].reset_index(drop = True)

In [84]:
#Tri par ordre alphabétique du quartier
df_export = df_export.sort_values(by = ["quartier"])

In [85]:
#Tableau final
df_export

                                        quartier  ...  occup_max_moy
0   Diagonal Mar i el Front Marítim del Poblenou  ...       5.187050
7                                 El Barri Gòtic  ...       3.123522
8             El Camp d'en Grassot i Gràcia Nova  ...       3.705882
9                     El Camp de l'Arpa del Clot  ...       3.692683
10                                 El Fort Pienc  ...       4.046070
11                                   El Guinardó  ...       3.032787
12             El Parc i la Llacuna del Poblenou  ...       3.401361
13                                  El Poble Sec  ...       4.026110
14                                   El Poblenou  ...       3.545181
15                          El Putxet i el Farró  ...       3.865248
16                                      El Raval  ...       3.101810
1                                    Hostafrancs  ...       3.933921
17               L'Antiga Esquerra de l'Eixample  ...       4.037234
18                                La Barceloneta  ...       2.635762
19                        La Dreta de l'Eixample  ...       4.716907
20                La Nova Esquerra de l'Eixample  ...       3.405923
21                            La Sagrada Família  ...       4.433002
22                 La Vila Olímpica del Poblenou  ...       4.847826
23                             La Vila de Gràcia  ...       3.826607
24                                     Les Corts  ...       3.530201
2                                    Sant Antoni  ...       3.606354
3                         Sant Gervasi - Galvany  ...       3.685950
4          Sant Pere, Santa Caterina i la Ribera  ...       2.907264
5                                          Sants  ...       3.719298
6                                  Sants - Badal  ...       3.317308

[25 rows x 11 columns]

In [86]:
#Export en .csv
df_export.to_csv("donnees_quartiers.csv", index=False)